<app-header class="header"></app-header>
<img src="https://imageio.forbes.com/specials-images/imageserve/60105eea27a5e0ffbf1a07e8/0x0.jpg?format=jpg&height=1080&width=1920" style="min-width: 100%; min-height: 100%;" alt="">
<div class="cajaCentral">
  <app-carousel class="carrusel"></app-carousel>
  <h1>jornada de infarto</h1>
  <h3>Lo de westbrook es un bochorno</h3>
  <p>Los Lakers iban 8 arriba con 5 minutos para el final tras alcanzar su mejor nivel de la temporada. Entonces salió Westbrook... y adiós.</p>
</div>

