.gradient-custom {
  /* fallback for old browsers */
  background: #939ffb;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(147, 159, 251, 1), rgba(245, 87, 108, 1));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(147, 159, 251, 1), rgba(245, 87, 108, 1))
}


.example-button-container{
  position: fixed;
  float: right;
  cursor: pointer;
  right: 50px;
  bottom: 20px;
  z-index: 100;
  opacity: 0.9;
}
